<div class="jumbotron text-center">
  <h1>Time Clock Application</h1>
  <p class="lead"> Welcome to our Time Clock Application built from scratch</p>
  <div>
    <button type="button" class="btn btn-outline-primary mr-2" [routerLink]="['/register']">Register</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/login']">Login</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card border-primary h-100 mb-3">
        <div class="card-header">Express/Node.js Backend</div>
        <div class="card-body">
          <p class="card-text">Backend of this application is implemented using Node.js and Express</p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-primary h-100 mb-3">
        <div class="card-header">Angular 7 Frontend</div>
        <div class="card-body">
          <p class="card-text">Frontend of this application is supported by Angular Framework</p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-primary h-100 mb-3">
        <div class="card-header">MongoDB with Cloud Storage</div>
        <div class="card-body">
          <p class="card-text">Data is stored in the NoSQL document oriented format</p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-primary h-100 mb-3">
        <div class="card-header">Authentication using JWT</div>
        <div class="card-body">
          <p class="card-text">User Authentication is provided to protect necessary APIs</p>
        </div>
    </div>
  </div>
</div>